body
{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;  
}


.button
{
    font-size: 50px;
    border: 5px solid;
    position: relative;
    overflow: hidden;
}
.button:before
{ 
    content: " ";
    position:absolute;
    left: 0;
    right: 0;
    background-color: yellow;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    transform-origin: bottom right;
    transform-origin: top ;
    transform: rotate(90deg);
    transform: rotate(-90deg);
    transition: transform 1s;
}

.button:hover:before
{
    transform: rotate(0deg);
}
