body{
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;

}

.button
{
    background-color: yellow;
    border: 3px solid black;
    font-size: 50px;
    padding: 20px;
    position: relative;
}
.button::before
{
    content:"Hover me";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button::after
{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    transition: all 1s;
    transform: translateX(-100%);
}

.button:hover::after
{

}